<form action="/add" method="POST">
    <h5>Titulo: </h5>
    <input type="text" name='titulo'>
    <h5>Conteudo: </h5>
    <textarea name="conteudo"></textarea>
    <button type="submit">Enviar formulario</button>
</form>